# Clerk
# Clerk publishable key (required)
VITE_CLERK_PUBLISHABLE_KEY=
# Clerk secret key (required)
CLERK_SECRET_KEY=

# PostHog
VITE_PUBLIC_POSTHOG_PROJECT_TOKEN=<ph_project_token>
VITE_PUBLIC_POSTHOG_HOST=<ph_client_api_host>
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_API_KEY=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY= 
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
VITE_FIREBASE_AUTH_DOMAIN=